@media screen and (max-width: 479px) {
  .header-our .container {
    width: auto;
    padding: 24px 15px;
  }
  .social-list-menu {
    gap: 26px;
  }
  .mobile-menu-phone-number {
    font-size: 24px;
  }
  .modal {
    width: 100%;
    height: auto;
  }
  .form-textarea {
    width: 100%;
  }
  .form-container {
    width: 100%;
  }
  .input-text {
    font-size: 10px;
  }
  .modal-button-send {
    width: 169px;
    height: 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: dashed red; */
  }
  .team-container-low {
    width: 290px;
  }

  /* .section-hero {
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-.jpg);
  } */
  .modal-button-send {
    width: 169px;
    height: 56px;
    margin: 0 96px;
    cursor: pointer;
  }
  /* .footer-div {
    width: 268px;
  } */
}
@media screen and (max-width: 767px) {
  .header-our .container {
    width: auto;
    padding: 24px 15px;
  }
  .footer-social {
    margin: 72px 0;
    text-align: center;
  }
  .footer-tablet {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .social-list-menu .team-social {
    width: 24px;
    height: 24px;
  }
  .subscribe .footer-subtitle {
    margin: 0;
  }
}
/* ============================================================ */

@media screen and (min-width: 768px) {
  .subscribe .footer-subtitle {
    margin-top: 72px;
  }

  .container {
    width: 766px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: dashed red; */
  }
  /* header */

  .header-our .container {
    margin: auto;
  }
  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation-site {
    display: flex;
  }

  .navigation-site .item + .item {
    margin-left: 40px;
  }

  .navigation-site .link {
    display: block;
    position: relative;

    font-weight: 500;
    color: var(--text-head-line-color);
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-menu-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  /* .address {
    display: block;
  }
  .address-flex {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  /* align-items: baseline; */
  /* } */
  /* Underline navigation */
  /* .item .underline-navigation {
    color: var(--button-hover-color);
  } */

  .navigation-site .item .underline-navigation {
    color: var(--button-hover-color);
  }
  .underline-navigation::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--button-hover-color);
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .navigation-site .link:hover,
  .navigation-site .link:focus {
    color: var(--button-hover-color);
  }
  /* Adress */

  .address-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  .address {
    display: block;
    margin-left: auto;
  }
  .email,
  .phone-number {
    color: var(--text-paragraph-color);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;

    letter-spacing: 0.04em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-flex .email:hover,
  .address-flex .email:focus,
  .address-flex .phone-number:hover,
  .address-flex .phone-number:focus {
    color: var(--button-hover-color);
  }

  /* section hero */
  .section-hero {
    padding: 111px 0 108px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    max-width: 494px;
    margin-bottom: 48px;
  }
  .future-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /* align-items: center;
    margin-left: auto; */
  }
  .future-list .item {
    width: calc((100% - 24px) / 2);
  }

  .section-subtitle {
    text-align: left;
  }

  /* section team */

  .section-team {
    padding-bottom: 104px;
  }
  .team-container-low {
    width: 582px;
  }
  .our-team-card {
    display: flex;
    flex-wrap: wrap;
  }

  .our-team-card .card-team:not(:last-child) {
    margin-bottom: 0;
  }
  /* .our-team-card .card-team {
    margin-bottom: 64px;
  } */
  .our-team-card .card-team:nth-child(even) {
    margin-left: 24px;
  }
  .our-team-card .card-team:nth-child(1) {
    margin-bottom: 64px;
  }
  .our-team-card .card-team:nth-child(2) {
    margin-bottom: 64px;
  }
  /* .our-team-card .card-team:last-child {
    margin-bottom: 0;
  } */

  /* customers */
  .section-customers .container {
    width: 552px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-list .item {
    width: calc((100% - 48px) / 3);
  }

  /* footer */
  .footer-our .container {
    width: 526px;
  }
  .footer-tablet {
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-div {
    width: 264px;
    text-align: left;
  }

  .footer-subtitle {
    margin-bottom: 0;
  }
  .subscribe {
    text-align: left;
    width: 453px;
    margin: 0;
  }
  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .footer-social .footer-subtitle {
    text-align: left;
  }
}

@media screen and (max-width: 1199px) {
  .footer-tablet {
    display: flex;
  }
  /* .subscribe .footer-subtitle {
    margin-top: 72px;
  } */
}
/* ============================================================ */
@media screen and (min-width: 1200px) {
  .subscribe .footer-subtitle {
    margin-top: 0;
  }

  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: dashed red; */
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* header */

  .header-flex {
    display: flex;
    align-items: center;
  }

  .navigation-site {
    display: flex;
  }

  .navigation-site .item + .item {
    margin-left: 40px;
  }

  .navigation-site .link {
    display: block;
    position: relative;

    font-weight: 500;
    color: var(--text-head-line-color);
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  .address-flex .item + .item {
    margin-left: 40px;
  }
  .address {
    margin-left: auto;
  }

  .email,
  .phone-number {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* section hero */
  .section-hero {
    max-width: 1440px;
    padding: 185px 0;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-2x.jpg);
    }
  }

  /* section about */
  .section-about {
    display: block;
    padding-top: 0;
  }
  .section-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
  }
  .about-list {
    display: flex;
    align-items: center;
  }

  .about-list .item + .item {
    margin-left: 24px;
    /* section two */
  }

  .svg-button {
    height: 8px;
    width: 8px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-button-exit:hover,
  .svg-button:hover {
    background-color: var(--button-hover-color);
    fill: var(--background-color);
  }

  /* Modal input */

  /* .input-text {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.33;
  } */

  /* .form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    margin-top: 4px;

    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

  /* .form-textarea {
    padding: 8px 0 0 16px;
    width: 360px;
    height: 120px;
    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */
  /* .form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
  } */
  /* .form-textarea-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  } */

  /* .policy {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
  } */

  /* .modal-button-send {
    width: 169px;
    height: 56px;
    margin: 0 96px;
    cursor: pointer;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--background-color);
    background-color: var(--button-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

  /* .modal-button-send:hover,
  .modal-button-send:focus {
    background-color: var(--button-hover-color);
  } */

  /* Modal icon */

  /* .icon {
    position: absolute;
    top: 50%;
    left: 16px;
    width: 18px;
    height: 24px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-container:focus-within > .icon {
    fill: var(--button-main-color);
  }

  .form-input:focus {
    border: 1px solid var(--button-main-color);
  }

  .form-textarea:focus {
    border: 1px solid var(--button-main-color);
  }

  /* checkbox */
  /*
  .policy-text {
    display: flex;
    align-items: center;
  }
  .checkbox-input {
    appearance: none;
  }

  .policy-text::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.25px solid #2e2f42;
    border-radius: 2px;
    cursor: pointer;
  }

  .checkbox-input:checked + .policy-text::before {
    background-color: var(--button-hover-color);
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-color: var(--button-hover-color);
  }

  .checkbox-link {
    text-decoration: underline;
    color: var(--button-main-color);
    margin-left: 4px;
  }

  .conteiner-planing {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-section-team);
    margin-bottom: 8px;
    border-radius: 4px;
  }
  .section-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
  }
  .about-list {
    display: flex;
    align-items: center;
  }

  .about-list .item + .item {
    margin-left: 24px;
  } */

  /* section future */

  .future-list .item {
    width: calc((100% - 72px) / 4);
  }
  .future-list {
    display: flex;
    /* align-items: baseline; */
    gap: 24px;
  }
  .future-list .section-subtitle {
  }
  .future-list .section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    margin: 8px 0;

    letter-spacing: 0.02em;
  }
  .future-list .item:not(:last-child) {
    margin-bottom: 0;
  }
  /* ICONS */
  .planing-svg {
    height: 64px;
    width: 64px;
  }
  .conteiner-planing {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-section-team);
    border-radius: 4px;
  }

  .hide-line {
    position: absolute;
    white-space: nowrap;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    width: 1px;
  }

  .section-text {
    max-width: 396px;
    color: var(--text-paragraph-color);
  }
  /* section team */

  .section-team {
    padding: 120px 0;
  }
  .our-team-card {
    align-items: center;
    gap: 24px;
  }

  .our-team-card .card-team:nth-child(even) {
    margin-left: 0;
  }
  .our-team-card .card-team:nth-child(1) {
    margin-bottom: 0;
  }
  .our-team-card .card-team:nth-child(2) {
    margin-bottom: 0;
  }

  /* customers */

  .section-customers {
    margin-bottom: 4px;
  }
  .section-customers .container {
    width: 1158px;
  }

  .customers-list .item {
    width: calc((100% - 120px) / 6);
  }
  /* footer */
  .footer-our .container {
    width: 1158px;
  }
  .footer-our {
    padding: 100px 0;
  }
  .footer-flex {
    display: flex;
    align-items: baseline;
  }
  .footer-tablet {
    display: inline-flex;
    margin-bottom: 0;
    margin-right: 80px;
  }
  .footer-div {
    margin-right: 120px;
  }
  .footer-social .footer-subtitle {
    margin-bottom: 16px;
  }

  /* PORTFOLIO */

  .filter {
    padding: 96px 0 120px;
  }
  .filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }
  .filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    padding: 12px 24px;
    letter-spacing: 0.04em;
  }
}
