@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: dashed red; */
  }
  .team-container-low {
    width: 290px;
  }
  .header-our .container {
    width: auto;
    margin: 24px 0;
  }

  .section-hero {
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-tab.jpg);
  }
  /* .footer-div {
    width: 268px;
  } */
}

@media screen and (min-width: 768px) {
  .container {
    width: 766px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: dashed red; */
  }
  /* header */

  .header-our .container {
    width: auto;
    margin: 0px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation-site {
    display: flex;
  }

  .navigation-site .item + .item {
    margin-left: 40px;
  }

  .navigation-site .link {
    display: block;
    position: relative;

    font-weight: 500;
    color: var(--text-head-line-color);
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-menu-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  /* .address {
    display: block;
  }
  .address-flex {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  /* align-items: baseline; */
  /* } */
  /* Underline navigation */
  /* .item .underline-navigation {
    color: var(--button-hover-color);
  } */

  .underline-navigation::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--button-hover-color);
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .navigation-site .link:hover,
  .navigation-site .link:focus {
    color: var(--button-hover-color);
  }
  /* Adress */

  .address-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  .address {
    display: block;
    margin-left: auto;
  }
  .email,
  .phone-number {
    color: var(--text-paragraph-color);
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-flex .email:hover,
  .address-flex .email:focus,
  .address-flex .phone-number:hover,
  .address-flex .phone-number:focus {
    color: var(--button-hover-color);
  }

  /* section hero */
  .section-hero {
    padding: 111px 0 108px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background.jpg);
  }
  .future-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /* align-items: center;
    margin-left: auto; */
  }
  .future-list .item {
    width: calc((100% - 24px) / 2);
  }

  .section-subtitle {
    text-align: left;
  }

  /* section team */

  .section-team {
    padding-bottom: 104px;
  }
  .team-container-low {
    width: 582px;
  }
  .our-team-card {
    display: flex;
    flex-wrap: wrap;
  }

  .our-team-card .card-team:not(:last-child) {
    margin-bottom: 0;
  }
  /* .our-team-card .card-team {
    margin-bottom: 64px;
  } */
  .our-team-card .card-team:nth-child(even) {
    margin-left: 24px;
  }
  .our-team-card .card-team:nth-child(1) {
    margin-bottom: 64px;
  }
  .our-team-card .card-team:nth-child(2) {
    margin-bottom: 64px;
  }
  /* .our-team-card .card-team:last-child {
    margin-bottom: 0;
  } */

  /* customers */
  .section-customers .container {
    width: 552px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-list .item {
    width: calc((100% - 48px) / 3);
  }

  /* footer */
  .footer-our .container {
    width: 526px;
  }
  .footer-tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 24px;

    margin-bottom: 72px;
  }
  .footer-div {
    width: 264px;
    text-align: left;
  }
  .footer-social {
    margin: 72px 0 0 0;
  }

  .footer-subtitle {
    margin-bottom: 0;
  }
  .subscribe {
    text-align: left;
    width: 453px;
    margin: 0;
  }
  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  .modal {
    padding: 72px 24px 24px 24px;
  }
}
/* ============================================================ */
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: dashed red; */
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* header */
  .header-flex {
    display: flex;
    align-items: center;
  }

  .navigation-site {
    display: flex;
  }

  .navigation-site .item + .item {
    margin-left: 40px;
  }

  .navigation-site .link {
    display: block;
    position: relative;

    font-weight: 500;
    color: var(--text-head-line-color);
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  .address-flex .item + .item {
    margin-left: 40px;
  }
  .address {
    margin-left: auto;
  }
  /* section hero */
  .section-hero {
    padding: 185px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.1;
    max-width: 494px;
    color: var(--background-color);
    margin-top: 0;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  /* section about */
  .section-about {
    display: block;
    padding-top: 0;
  }
  .section-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
  }
  .about-list {
    display: flex;
    align-items: center;
  }

  .about-list .item + .item {
    margin-left: 24px;
    /* section two */
  }
  .conteiner-planing {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-section-team);
    margin-bottom: 8px;
    border-radius: 4px;
  }
  .section-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
  }
  .about-list {
    display: flex;
    align-items: center;
  }

  .about-list .item + .item {
    margin-left: 24px;
  }
  /* section future */

  .future-list .item {
    width: calc((100% - 72px) / 4);
  }
  .future-list {
    display: flex;
    /* align-items: baseline; */
    gap: 24px;
  }
  .future-list .section-subtitle {
  }
  .future-list .section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    margin: 8px 0;

    letter-spacing: 0.02em;
  }
  .future-list .item:not(:last-child) {
    margin-bottom: 0;
  }
  /* ICONS */
  .planing-svg {
    height: 64px;
    width: 64px;
  }
  .conteiner-planing {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-section-team);
    border-radius: 4px;
  }

  .hide-line {
    position: absolute;
    white-space: nowrap;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    width: 1px;
  }

  .section-text {
    max-width: 396px;
    color: var(--text-paragraph-color);
  }
  /* section team */

  .section-team {
    padding: 120px 0;
  }
  .our-team-card {
    align-items: center;
    gap: 24px;
  }

  .our-team-card .card-team:nth-child(even) {
    margin-left: 0;
  }
  .our-team-card .card-team:nth-child(1) {
    margin-bottom: 0;
  }
  .our-team-card .card-team:nth-child(2) {
    margin-bottom: 0;
  }

  /* customers */

  .section-customers {
    margin-bottom: 4px;
  }
  .section-customers .container {
    width: 1158px;
  }

  .customers-list .item {
    width: calc((100% - 120px) / 6);
  }
  /* footer */
  .footer-our .container {
    width: 1158px;
  }
  .footer-flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer-tablet {
    display: inline-flex;
    margin-bottom: 0;
    margin-right: 80px;
  }
  .footer-div {
    margin-right: 120px;
  }
  .footer-social .footer-subtitle {
    margin-bottom: 16px;
  }

  /* PORTFOLIO */

  .filter {
    padding: 96px 0 120px;
  }
  .filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }
  .filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    padding: 12px 24px;
    letter-spacing: 0.04em;
  }
}
